<html ng-app="passApp">
	<head>
		<title> Passwords </title>
	</head>
	<body>
		<div ng-controller="ctrl">
			<input type="text" ng-model="name"> Name </input> <br>
			<input type="password" ng-model="pass"> Password </input> <br>
			<button ng-click="hashPassword()"> Enter </button> <br>
			<p> Hashed password: {{hashed}} </p> <br>
			<input type="text" ng-model="guess"> Guess </input> <br>
			<button ng-click="makeGuess()"> Enter </button> <br>
			<p> Result: {{result}}
		</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="pass.js"></script>
	</body>
</html>